[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter-client = "*"

[dev-packages]
black = "*"
pylint = "*"
pylama = "*"
rope = "*"

[pipenv]
allow_prereleases = true

[requires]
python_version = "3.10"
